<form class="well" (submit)="addTask($event)">
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Add Task" [(ngModel)]="title" name="title">
  </div>
</form>

<div class="task-list" >
  <div class="task" *ngFor="let task of tasks">
    <div class="col-xs-10 col-md-11" [ngClass]="{'done': task.isDone === true}">
      <input [id]="'check-'+task._id" type="checkbox" [(ngModel)]="task.isDone" (click)="updateStatus(task)" >
      <label [for]="'check-'+task._id" >{{ task.title }}</label>
    </div>
    <div class="col-xs-2 col-md-1">
      <input type="button" class="btn btn-danger" value="Delete" (click)="deleteTask(task._id)">
    </div>
  </div>
</div>